
.card__img {
    height : 130px;
    width :200 px;
    max-width: 200px;
}

.topFont {
    text-align: center;
    text-shadow: 0 0 3px #1c0edf, 0 0 5px #95deeb; 
}

/* Structure */
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: "Serif",Georgia;
}

.card {
    height: 470px;
    width: 350px;
    border-style: solid;
    padding: 20px;
    margin: 15px;
    font-size: larger;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 15px;
    font-family: "Serif",Georgia;
  }

/* Skins */
.containerYoda {
    border: darkcyan;
    border-style: solid;
}

.containerDV {
    border: darkmagenta;
    border-style: solid;
}

.cardYoda {
    border-color: lightgreen;
    box-shadow: 0 4px 8px 0 cyan;
    color:darkcyan;
}

.card__dimensions {
    height: 360px;
    width: 270px;
}

.buttonYoda {
    color: white;
    background-color: rgb(63, 238, 63);
    box-shadow: 0 3px 5px cyan;
}

.buttonYoda:hover {
    background-color: rgb(45, 179, 45)
}

.buttonYoda:active {
    background-color: rgb(36, 136, 36);
    box-shadow: 0 3px 5px rgba(0, 255, 255, 0.774);
    transform: translateY(4px);
}

.cardYoda:hover {
    box-shadow: 0 8px 16px 0 cyan;
}

.card__cardDarthVader--header {
    text-shadow: 0 0 3px #f171d6, 0 0 5px #350429; 
}

.cardDarthVader {
    border-color: black;
    box-shadow: 0 4px 8px 0 rgb(98, 45, 148);
    color:darkmagenta;
}

.buttonDarthVader {
    color: rgb(231, 10, 10);
    background-color: rgb(35, 3, 39);
    box-shadow: 0 3px 5px rgb(231, 13, 13);
}

.buttonDarthVader:hover {
    background-color: #61094b
}
  
.buttonDarthVader:active {
    background-color: #1f0218;
    box-shadow: 0 5px rgb(155, 4, 4);
    transform: translateY(4px);
}

.cardDarthVader:hover {
    box-shadow: 0 8px 16px 0 rgb(98, 45, 148);
}

.card__cardYoda--header {
    text-shadow: 0 0 3px #abe411, 0 0 5px #0bf0f8; 
}